
.brewprint-hello {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    width: 100%;
    position: relative;

}


.pattern{
    position: absolute;
    inset: 0;
    background-image: url(./assets/grid.png);
    image-rendering: pixelated;
    background-size: 40rem;
    background-position: 50%;
    z-index: 1;
    opacity: .25;
}
.quiz-section{
    z-index: 2;
    padding: 2rem 1rem;
    width: 100%;
    flex: 1;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}




#debug-switch{
    position: fixed;
    inset: 0;
    padding: 0.5rem 1rem;
    width: max-content;
    height: max-content;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: antiquewhite;
    box-shadow: var(--shadow-embossed);
    border-radius: 8px;
}

